{{#if Status}}
  <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <div
      class="w-60 h-50 bg-form rounded-4 d-flex justify-content-center align-items-center flex-column shadow p-3 mb-5"
    >
      <h2>Password Recovery</h2>

      {{#if SuccessMsg}}
        <div class="alert alert-success mt-1 text-center" role="alert">
          <p>{{SuccessMsg}}</p>
        </div>
      {{else}}
        <div class="alert alert-danger mt-1 text-center" role="alert">
          <p>{{StatusMsg}}</p>
        </div>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <div
      class="w-60 h-auto bg-form rounded-4 d-flex justify-content-center align-items-center flex-column shadow p-3 mb-5"
    >
      <h1>Password Recovery</h1>
      <form
        class="d-flex flex-column gap-5 mt-2"
        action="/api/users/reset/{{token}}"
        method="post"
      >
        <div>

          <input
            class="p-1 py-2 rounded-3 border-0"
            type="password"
            placeholder="Enter new Password"
            autocomplete="new-password"
            name="password"
          />
          {{#errBelowInput errArr "password"}}
            {{msg}}
          {{/errBelowInput}}
        </div>

        <div>

          <input
            class="p-1 py-2 rounded-3 border-0"
            type="password"
            placeholder="Confirm Password"
            name="confirmPassword"
          />
          {{#errBelowInput errArr "confirmPassword"}}
            {{msg}}
          {{/errBelowInput}}
        </div>

        <button class="border-0 rounded-2 p-2" type="submit">Enviar</button>
      </form>

      {{#if StatusMsg}}
        <div class="alert alert-warning" role="alert">
          {{StatusMsg}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}